<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Usuarios
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-user></app-user>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fabricas
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-factory></app-factory>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Historial de transacciones
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-history></app-history>
  </mat-expansion-panel>
</mat-accordion>
